################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs
/Smart-Strength-Backend/bin/Debug/netcoreapp3.1
/bin
/obj
/Smart-Strength-Backend/smart-strength-firebase-adminsdk-mstkd-d8df384bda.json
/Smart-Strength-Backend/.vs/Smart-Strength-Backend/config
/Smart-Strength-Backend/.vs/Smart-Strength-Backend/DesignTimeBuild
/Smart-Strength-Backend/obj
